.mainHeaderSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 12px;
}
.bookAddingButton {
    background: lightskyblue;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 1px;
}